body {
  background-color: #f56d6f;
}

.gooey-menu-container {
  position: absolute;
      top: -13px;
      right: 0;
      width: 170px;
      height: 150px;
}
.button-container {
  background: #f56d6f;
  position: absolute;
  right: 100px
  top: 10px;
  width: 150px;
  height: 590px;

}
.shape-top {
  width:100px;
  height:100px;
  background: white;
  /* position:absolute; */
  margin-top:-50px;
  margin-left:-50px;
  display: block;
  z-index: 2;

}

.shape {
  transform-origin: center bottom;
  top: -40px;
  right: 63px;
  width: 46px;
  height: 46px;
  background: #fff;
  z-index: 1;
  background:white;
  position:absolute;
  border-radius:100%;
  transform: scaleX(0.8) scaleY(1.5);
    -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 0 rgba(0,0,0,.1);
}

.shape:hover {
  cursor: pointer;
  transform: scale(2.5);
}
